# Data Analysis with Pandas:  Video Game Sales
### Paul Leonard on 11/24/2020

##### Bringing in pandas and the library

In [19]:
import pandas as pd

#data from https://www.kaggle.com/gregorut/videogamesales?select=vgsales.csv
df = pd.read_csv('./vgsales.csv')

df.info()
df.head(3)
df.tail(4)
df.set_index("Name")
df[["Name","Year","Genre"]]
df.set_index("Name")[["Year","Genre"]]
df.set_index("Name")[["Year","Genre"]].sort_values('Year', ascending=True)
df['Year'] < 2000
df[df['Year'] > 2000]
df[df['Year'] > 2010].set_index("Name")[["Rank","Platform","Year"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

### What is the most common video game publisher?

In [41]:
df[["Publisher"]].mode()

         Publisher
0  Electronic Arts

### What's the most common platform?

In [43]:
df[["Platform"]].mode().set_index("Platform")

Empty DataFrame
Columns: []
Index: [DS]

### What about the most common genre?

In [44]:
df[["Genre"]].mode().set_index("Genre")

Empty DataFrame
Columns: []
Index: [Action]

### What are the top 20 highest grossing games?

In [48]:
df.set_index("Name")[["Global_Sales","Year","Platform"]].sort_values('Global_Sales', ascending=False)[:20]

                                              Global_Sales    Year Platform
Name
Wii Sports                                           82.74  2006.0      Wii
Super Mario Bros.                                    40.24  1985.0      NES
Mario Kart Wii                                       35.82  2008.0      Wii
Wii Sports Resort                                    33.00  2009.0      Wii
Pokemon Red/Pokemon Blue                             31.37  1996.0       GB
Tetris                                               30.26  1989.0       GB
New Super Mario Bros.                                30.01  2006.0       DS
Wii Play                                             29.02  2006.0      Wii
New Super Mario Bros. Wii                            28.62  2009.0      Wii
Duck Hunt                                            28.31  1984.0      NES
Nintendogs                                           24.76  2005.0       DS
Mario Kart DS                                        23.42  2005.0       DS
Pokemon Gold/Pokemon Silver                          23.10  1999.0       GB
Wii Fit                                              22.72  2007.0      Wii
Wii Fit Plus                                         22.00  2009.0      Wii
Kinect Adventures!                                   21.82  2010.0     X360
Grand Theft Auto V                                   21.40  2013.0      PS3
Grand Theft Auto: San Andreas                        20.81  2004.0      PS2
Super Mario World                                    20.61  1990.0     SNES
Brain Age: Train Your Brain in Minutes a Day         20.22  2005.0       DS

### For North American video game sales, whatâ€™s the median?

In [51]:
df.set_index("Name")[["NA_Sales"]].median()

NA_Sales    0.08
dtype: float64

### Bonus:  List of the top ten publishers and their game counts.

In [40]:
df[["Publisher"]].value_counts()[:10]

Publisher
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
THQ                              715
Nintendo                         703
Sony Computer Entertainment      683
Sega                             639
Take-Two Interactive             413
dtype: int64